.shop-comtainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    gap: 30PX;
} 
.cart-container{
    background-color: rgba(255, 153, 0, 0.3) ;
    align-items: center;
    justify-content: center;
}

